{% extends 'base.html' %}

{% block content %}
<div class="relative flex h-auto min-h-screen w-full flex-col bg-white group/design-root overflow-x-hidden"
    style="font-family: Manrope, &quot;Noto Sans&quot;, sans-serif;">
    <div class="layout-container flex h-full grow flex-col">
        <div class="px-40 flex flex-1 justify-center py-5">
            <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
                <div class="@container">
                    <div class="@[480px]:p-4">
                        <div class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-lg items-center justify-center p-4"
                            style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuC-UuvMUuBRvv16aYPMjhUdUSOwC_erBoenPGiqRqVzO0GpVUPFyZse1vYJM1iRfHxBslTaj40SQ2Knup4LVocXQ3xipRcphinHMNJQhby7uZrAKRjq6j1LG7oddxtPNxHwsEWPBsCqWWNCvMO9Y6mtXAdzlebCF4zUckpwf2o6ezMhh2OtyFC-uVtRykrsQ9QnnedqtDSA03x0ECtwdwKfmf8zKUL3ltZkwm0h6wGMlC7SHfv0HJh-SSQTe-DWu15nLi4ovDK4fyk");'>
                            <div class="flex flex-col gap-2 text-center">
                                <h1
                                    class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]">
                                    Find the right medical test, right now
                                </h1>
                                <h2
                                    class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                                    Search for medical tests and find nearby labs with ease.
                                </h2>
                            </div>
                            <form action="{% url 'search_labs' %}" method="get" class="flex flex-col min-w-40 h-14 w-full max-w-[480px] @[480px]:h-16">
                                <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                                    <div class="text-[#6a7381] flex border border-[#dde0e3] bg-white items-center justify-center pl-[15px] rounded-l-lg border-r-0"
                                        data-icon="MagnifyingGlass" data-size="20px" data-weight="regular">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z">
                                            </path>
                                        </svg>
                                    </div>
                                    <input placeholder="Search for a test (e.g., Blood Work)"
                                        name="query"
                                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#121416] focus:outline-0 focus:ring-0 border border-[#dde0e3] bg-white focus:border-[#dde0e3] h-full placeholder:text-[#6a7381] px-[15px] rounded-r-none border-r-0 pr-2 rounded-l-none border-l-0 pl-2 text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal"
                                        value="" />
                                    <div
                                        class="flex items-center justify-center rounded-r-lg border-l-0 border border-[#dde0e3] bg-white pr-[7px]">
                                        <button type="submit"
                                            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#192d4d] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]">
                                            <span class="truncate">Search</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}